@r:1rem/75;
.vue-slide-nav-wrapper{
  width: 100%;
  height: auto;
  .nav-wrapper{
    position: relative;
    width: 100%;
    //overflow: hidden;
    &.fixed{
      position: fixed;
      width: 100%;
      z-index: 9999;
    }
    .nav-list-wrapper{
      width: 100%;
      &.flex{
        display: flex;
        align-items: center;
        .nav-item{
          flex: 1;
        }
      }
      .nav-item{
        float: left;
        position: relative;
        box-sizing: border-box;
        text-align: center;
        background: #FFC4CF;
        color: #ffffff;
        i{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          .line(2px,#EF6680)
        }
        &.on{
          .line(2px,#EF6680)
        }
      }
    }
    .active-line{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      .line(2px,#EF6680);
      z-index: 99;
      transition: transform .3s linear;
    }
  }
}



.line(@px,@color) {
  border-bottom: @px solid @color;
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    border-bottom: @px*0.5 solid @color;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    border-bottom: @px*0.333333 solid @color;
  }
}